<div id="editor">// *** CODEACY ***

</div>

<div id="game"></div>

<img class="compileBtn" src="/img/playbtn.png"></button>

<link rel="stylesheet" href="css/game.css" type="text/css"/>
<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/editor.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/phaser.js" type="text/javascript"></script>
<script src="/js/game.js" type="text/javascript"></script>


<script>
	$(".compileBtn").hover(
		function() {
			$(this).attr("src", "/img/playbtnhover.png");
		}, function() {
			$(this).attr("src", "/img/playbtn.png");
		}
	);
</script>