<div id="editor">// *** CODEACY ***

function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>

<img id="manufacture" src="/img/manufacture.png">

<button class="btn" onclick="clickFunction()">Compile</button>

<script src="/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/tomorrow_night_eighties");
	editor.getSession().setMode("ace/mode/javascript");
	editor.getSession().setUseWrapMode(true);

	// event for when typing stops
	var myTimer = null;
	editor.getSession().on('change', function(e) {
		clearTimeout(myTimer);
		myTimer = null;
		if(!myTimer) {
	    	myTimer = setTimeout(function(){
	    		// stuff to happen after typing stops
	    	}, 2000);
		}
	});

	function clickFunction() {
		alert(editor.getSession().getLines(0,6));
	}

</script>