extends layout
block body
	div.background
	div.corner
		div.logo
		p.name Codeacy
		p.help Help
		p.about About Us
		p.log Log In
	h1
		p.title Codeacy
	h2
		p.subtitle Learning, made fun.
	h1
		p.sign Sign In
	div.facebook
		a(href='/login/facebook', class='btn btn-block btn-social btn-facebook') Login with Facebook
		i(class='fa fa-facebook')
	div.footer
		p Contact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Terms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Safety