extends layout
block body
	div.bkimg.fullSize
		h1
			p.lead.title The Codeacy
		h2
			p.lead.subtitle It begins...
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
			h1.title Sign In
				a(href='/login/facebook', class='btn btn-block btn-social btn-facebook') Login with Facebook
					i(class='fa fa-facebook')
