<nav class="navbar navbar-default menu-bar" role="navigation">
   <div class="navbar-header navbar-nav nav">
   	  <li class="dropdown">
	      <a class="menu-title dropdown-toggle" href="#" data-toggle="dropdown">
	      	<img src="img/menu.png" class="menu-img" height="25" width="25">
	      	Codeacy
	      </a>
	      <ul class="dropdown-menu menu-bar-option">
            <li><a class="menu-subtitle" href="#">Game</a></li>
            <li><a class="menu-subtitle" href="#">Profile</a></li>
            <li><a class="menu-subtitle" href="#">Sign Out</a></li>
	      </ul>
	  </li>
   </div>

</nav>