body {

}
/*
div .ace_layer .ace_cursor {
	color: transparent;
}

div .ace_content .ace_layer .ace_active-line {
	background: transparent;
}

div .ace_gutter .ace_gutter-active-line {
	background: transparent;
}
*/
.background {

	/*height: 780px;*/
	width: 100%;
	background-image: url(/img/background.jpg);
	
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	
}

.homeimg {
	width: 100%;
}

.outer {
	position: relative;
}

.inner {
	width: 100%;
	top: 0px;
	position: absolute;
}

#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	margin-top:50px;
}

.menu-title {
 height: 50px;
 font-size: 24px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
 opacity: 0.8;
 width: 200px;
 letter-spacing: 1px;
 margin-bottom: 5px;
}

.menu-subtitle {
 font-size: 22px;
 width: 200px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
 opacity: 0.8;

}

.menu-img {
    margin-bottom: 7px;
}

.menu-bar {
    background: rgba(255,255,255,0.75);
}

.menu-bar-option {
    background: rgba(224,224,224,0.9);
}


.arrow-icon {
	padding-top: 60px;
	width: 100px;
	content: url(/img/down.png);
}


.compileBtn {
	position: absolute;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	height: 100px;
	margin-top: 600px;
	margin-left: 350px;
	float:right;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.content {
	height: 1500px;
}

.learn {
	width:900px;
	height:400px;
	/*background-color: rgba(87, 152, 117, 1);*/
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.code {
	width:900px;
	height:400px;
	/*background-color: rgba(215, 195, 123, 1);*/

	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.play {
	width:900px;
	height:400px;
	/*background-color: rgba(176, 101, 139, 1);*/

	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#learn-info {
	width:500px;
	float:left;
}

#learn-title {
	padding-top: 75px;
	padding-left: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.8;

}

#learn-text {
	padding-top: 50px;
	padding-left: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.7;
}

#learn-image {
	float: right;
}

#learn-image img {
	margin-top: 10px;
	margin-right: 70px;
	width:270px;
	opacity: 0.1;
}

#code-info {
	width:500px;
	float:right;
}

#code-title {
	padding-top: 75px;
	padding-right: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.8;

}

#code-text {
	padding-top: 50px;
	padding-right: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.7;
}

#code-image {
	float:left;
}

#code-image img {
	padding-top: 10px;
	padding-left: 20px;
	width: 350px;
	height: 350px;
	opacity: 0.1;
}

#play-info {
	width:500px;
	float:left;
}

#play-title {
	padding-top: 75px;
	padding-left: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.8;
}

#play-text {
	padding-top: 50px;
	padding-left: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	opacity: 0.7;
}

#play-image img {
	padding-top: 20px;
	padding-left: 30px;
	width:300px;
	opacity: 0.1;
}

.corner {
	padding-top: 40px;
	padding-left: 40px;
}

.logo {
	height: 40px;
	width: 42px;
	opacity: 0.99;
	background-image: url(/img/logo.png);
	float: left;
}

.name {
	padding-top: 6px;
	padding-left: 10px;
	color: white;
	opacity: 0.99;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	float: left;
}

.log {
	padding-top: 10px;
	padding-right: 20px;
	color: white;
	opacity: 0.99;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 330;
	line-height: 26px;
	float: right;
}

.about {
	padding-top: 10px;
	padding-right: 20px;
	color: white;
	opacity: 0.99;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 330;
	line-height: 26px;
	float: right;
}

.help {
	padding-top: 10px;
	padding-right: 60px;
	color: white;
	opacity: 0.99;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 330;
	line-height: 26px;
	float: right;
}

.left {
	margin-top: 50px;
	margin-left: 50px;
	height: 640px;
	width: 500px;
	opacity: 0.99;
	background-color: rgba(255, 255, 255, 0.6);
	float: left;
}

.right {
	margin-top: 170px;
	margin-left: 250px;
	opacity: 0.99;
	background-color: rgba(255, 255, 255, 0.6);
	height: 400px;
	width: 400px;
	float: left;
}

.title {
	color: white;
	opacity: 0.99;
	text-align: center;
	padding-top: 110px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 120px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 5px;
}

.subtitle {
	color: white;
	opacity: 0.99;
	text-align: center;
	padding-top: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26px;
	letter-spacing: 2px;
}

.sign {
	color: white;
	opacity: 0.99;
	text-align: center;
	padding-top: 100px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26px;
	letter-spacing: 1px;
}

.facebook {
	padding-top: 100px;
	width: 300px;
	margin: 0 auto;
}

.footer {
	padding-top: 120px;
	text-align: center;
	color: white;
	opacity: 0.99;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
}

